*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #f5f5f5; */
  background-color: aliceblue;
}

/* Form styling */

.form {
  margin: 4rem auto;
  max-width: 600px;
  background-color: white;
  padding: 1.5rem;
  /* border: 1px solid black; */
}

.form-title {
  text-align: center;
  font-weight: 100;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.input {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid gainsboro;
  font-size: 1.2rem;
}

.form-btn {
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: dodgerblue;
  color: white;
  border: 1px solid dodgerblue;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.form-btn:hover {
  background-color: #007efc;
}

/* Filter */

.filter {
  display: block;
  margin: 0 auto;
  width: 600px;
  padding: 1rem;
  border: none;
  background: transparent;
  border-bottom: 2px solid gainsboro;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.filter::placeholder {
  text-align: center;
}

/* Joblist Styles */

.jobList-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.joblist-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid gainsboro;
  padding: 1rem;
}

.joblist-card-bottom {
  display: flex;
  justify-content: space-between;
}

.joblist-card-btn {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border-color: transparent;
  transition: background-color 0.2s ease-in;
}

.joblist-card-btn:hover {
  background-color: #e00202;
}
